{paths, ["apps", "deps"]}.
{default_release, muumuu, "1.0.0"}.

%% comment this line for a release that ships its own Erlang VM
{include_erts, false}.
%% uncomment this line to ship a release without the source code included
% {include_src, false}.

{release, {muumuu, "1.0.0"},
 %% list of apps to include
 [muumuu]}.

{vm_args, "./config/vm.args"}.
